#title {
  margin-bottom: 0;
}

#title > a {
  color: black;
}

.postInfo {
  size: 14px;
  color: gray;
  display: block;
  padding-top: .25em;
}

.postInfo > .authorName {
  font-weight: 500;
}

.bodyText {
  size: 16px;
  padding-top: 1.5em;
  padding-bottom: .5em;
}

.post-actions-container {
  display: block;
  padding-top: 1em;
}
.post-actions-container .icon {
  margin-right: .4em;
}

.post-actions-container .action:not(:first-child) {
  margin-left: 1.5em;
}