#title {
  margin-bottom: 0;
}

#title > a {
  color: black;
}

.postInfo {
  size: 14px;
  color: gray;
  display: block;
  padding-top: .25em;
}

.postInfo > .authorName {
  font-weight: 500;
}

.bodyText {
  padding-top: 1.5em;
  padding-bottom: .5em;
}

.post-actions-container {
  display: block;
  padding-top: 1em;
}

.post-actions-container .action-button {
  box-shadow: none !important;
  padding: 0 !important;
}

.post-actions-container .action-button:not(:first-of-type) {
  margin-left: 1.25em !important;
}